= render partial: 'sideber'

.chat-main
  .chat-main__header
    .chat-main__header--group
      %p.samplegroup
        =@group.name
      %ul.member
        Member: 
        - @group.users.each do |user|
          %li.member-list
            = user.name
    .edit
      = link_to "Edit"
  .chat-main__contents
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'form-message', placeholder: 'type a message'
        = f.label :image, class: 'image-label' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-submit'
